.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 14px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  order: 1;
}

.nav__item {
  width: 50%;
  margin-bottom: 15px;
  white-space: nowrap;

  &:nth-child(2n) {
    text-align: right;
  }
}

.nav__link {
  @include font-s;
  color: $text-color;
}

.nav__button {
  @include font-xs;
  font-weight: $font-weight-bold;
  color: $brand-color;
  border-bottom: 1px solid $brand-color;
}

@media (min-width: $tablet-width) {
  .nav__item {
    width: auto;
    position: relative;
    text-align: center;

    &:last-child {
      flex-grow: 1;
      margin: 0;
    }

    &--active::after {
      content: "";
      position: absolute;
      background-image: url("../img/arrow-min.svg");
      width: 11px;
      height: 6px;
      top: 30px;
      left: 45%;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__wrapper {
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;
  }

  .nav__logo {
    margin-right: 40px;
  }

  .nav__list {
    width: auto;
    margin: 0;
    order: 0;
  }

  .nav__item {
    margin: 0;
    margin-right: 33px;

    &:last-child {
      margin: 0;
    }
  }

  .nav__button {
    @include font-l;
    font-weight: $font-weight-bold;
    margin-left: auto;
  }

  .nav__link--scroll {
    color: $title-color;
  }

  .nav--scroll {
    position: fixed;
    width: 100%;
    top: 58px;
    background-color: $text-color;
  }

  .nav__item--active--scroll::after {
    content: "";
    position: absolute;
    background-image: url("../img/arrow-min-scroll.svg");
    width: 11px;
    height: 6px;
    top: 30px;
    left: 45%;
  }
}
