.reg__desc {
  margin-bottom: 20px;
}

.reg__img {
  display: none;
}

.reg__text {
  @include font-xs;
  font-weight: 400;
}

@media (min-width: $desktop-width) {
  .reg {
    display: flex;
  }

  .reg__img {
    display: block;
  }

  .reg__desc {
    margin: 0;
    padding-top: 7px;
    position: relative;
  }

  .reg__form {
    width: 310px;
  }

  .reg__img--front {
    position: relative;
    z-index: 2;
  }

  .reg__img--back {
    position: absolute;
    top: 55px;
    left: 400px;
    z-index: 1;
  }

  .reg__text {
    @include font-l;
    margin-top: 30px;
  }
}
