.slider {
  position: relative;
  color: $title-color;
  background-color: $text-color;
}

.slider__wrapper {
  padding: 15px 0 40px;
}

.slider__item-title {
  @include font-l;
  margin-bottom: 10px;
}

.slider__arrow {
  display: none;
}

.slider__toggle-list {
  display: flex;
  justify-content: center;

  position: absolute;
  width: 100%;
  left: 0;
  padding: 10px 0;
  background-color: $body-color;
}

.slider__toggle-item {
  margin-right: 15px;

  &:last-child {
    margin: 0;
  }
}

.slider__toggle-button {
  width: 15px;
  height: 15px;
  background-color: $brand-color;
  border: $alt-color;
  border-radius: 50%;

  &--active {
    background-color: $text-color;
  }
}

@media (min-width: $desktop-width) {
  .slider .slider__wrapper {
    padding: 0 0 157px;
  }

  .slider {
    background-color: $body-color;
  }

  .slider__wrapper {
    position: relative;
  }

  .slider__item {
    width: 1700px;
    margin: 0 108px;
    padding: 85px 318px 88px 252px;
    border-radius: 40px;

    background-color: $text-color;
  }

  .slider__item-title {
    @include font-xl;
    font-weight: 750;
    margin-bottom: 35px;
  }

  .slider__toggle-list {
    position: static;
    padding: 0;
    margin-top: 53px;
  }

  .slider__arrow {
    display: block;
    position: absolute;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 46px;
    height: 88px;

    top: 332px;

    &--back {
      left: 170px;
      transform: rotate(180deg);
      opacity: 0.3;
    }

    &--forward {
      right: 220px;
    }
  }
}
