$main-font: "Work Sans", "Аrial", sans-serif;
$alt-font: "Anton", "Аrial", sans-serif;

$brand-color: #151c22;
$alt-color: #727a82;
$body-color: #ffffff;
$background-color: #f1f2f4;

$font-style: normal;
$font-weight: 400;
$font-weight-bold: 600;

$font-size-s: 14px;
$line-height-s: 16px;

$font-size-l: 16px;
$line-height-l: 19px;

$font-size-m: 18px;
$line-height-m: 21px;

$font-size-xl: 26px;
$line-height-xl: 30px;

$font-size-xxl: 86px;
$line-height-xxl: 90px;

$mobile-width: 320px;
$mobile-padding: 15px;

$tablet-width: 768px;
$tablet-padding: 45px;

$desktop-width: 1366px;
$desktop-padding: 98px;
